.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**/
.backgroundImage {
  background-image: url('https://pd2builder.netlify.app/img/bg.png');
  /*background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
}

.backgroundImage.inventory {
  background-image: url('../src/imagenes/inventory_background.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backgroundImage.bigOil {
  min-height: calc(100vh - 45px);
}

.backgroundColor {
  background-color: rgba(69, 155, 213, 0.5);
  min-height: calc(100vh - 45px);
}

.iconDiceRotate:active {
  animation: DiceBounce 1s linear;
}
@keyframes DiceBounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);    
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .iconDiceRotate {
    animation: DiceRotate infinite 3s linear;
  }
}
@keyframes DiceRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@900&family=Figtree:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+SC&amp;display=swap'); */

@font-face {
  font-family: 'RiftBold';
  src: url("./fuentes/Rift-Bold.otf") format("truetype");
  /* font-weight: 500; */
  font-style: normal;
 }
 @font-face {
  font-family: 'RiftDemi';
  src: url("./fuentes/Rift-Demi.otf") format("truetype");
  /* font-weight: 500; */
  font-style: normal;
 }
 @font-face {
  font-family: 'RiftLight';
  src: url("./fuentes/Rift-Light.otf") format("truetype");
  /* font-weight: 500; */
  font-style: normal;
 }
 @font-face {
  font-family: 'RiftMedium';
  src: url("./fuentes/Rift-Medium.otf") format("truetype");
  /* font-weight: 500; */
  font-style: normal;
 }
 @font-face {
  font-family: 'RiftRegular';
  src: url("./fuentes/Rift-Regular.otf") format("truetype");
  /* font-weight: 500; */
  font-style: normal;
 }
 @font-face {
  font-family: 'DINEngschrift';
  src:
  url('./fuentes/DINEngschrift.ttf') format("truetype"),
  url('./fuentes/DINEngschrift.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
 }

header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 45px;
        background-color: #131313; /* optional, to make header visible */
        opacity: 95%;
        z-index: 1000; /* optional, to make header on top of other elements */
        box-shadow: 0px 0px 0px 1px #424242;
        font-family: 'Chivo Mono', monospace;
        /* background-image: url("https://www.paydaythegame.com/wp-content/themes/pd2tg/img/crimenet/logo-pd2.png"); */
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between !important;
      }

/* @media (max-width: 400px) {
  .header {
    background-image: url("https://www.paydaythegame.com/wp-content/themes/pd2tg/img/crimenet/logo-pd2.png");
        background-repeat: no-repeat;
        background-size:85%;
        background-position:13vw
  }
} */

.homeIcon {
  margin-left: 20%;
  color: #459bd5;
}

.userPicture {
  margin-right: 1%;
}

.loginIcon {
  /*border-radius: 20%;*/
  border-radius: 20%;
  width: 32px;
  height: 32px;
  color: whitesmoke;
  border: #459bd5 ridge 2px;
  background: linear-gradient(45deg, #459bd5 0%, #459bd5 30%, #2a5979 30%, #2a5979 70%, #459bd5 70%, #459bd5 100%);
background-size: 400% 400%;
animation: gradient-shiny 2s ease infinite;
}

      body {
        padding-top: 45px !important;
        margin: 0;
        padding: 0;
        /* font-family: 'Figtree', sans-serif; */
        /* font-family: 'DINEngschrift', sans-serif !important; */
        background-color: #131313;
      }

.container {
  margin: 0 auto;
  padding: 20px;
  font-family: "RiftDemi";
}


.separator {
  width: 80%;
  height: 2px;
  background: linear-gradient(to right, #2a5979, #459bd5); /* Example gradient colors */
  margin: 25px auto;
  border: none;
  position: relative;
  margin-bottom: 0px;
  max-width: 700px;
}

.separator::before,
.separator::after {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #459bd5;
  top: -4px;
}

.separator::before {
  left: 0;
}

.separator::after {
  right: 0;
}


.randomize-table {
  font-family: "RiftBold";
}

.randomize-table td:nth-child(2) {
  font-family: "RiftMedium";
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    /* padding: 10px; */
  }
}

h1 {
  color: white;
  text-align: center;
  margin-top: 0;
  padding-top: 5px;
}

.categories-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
  gap: 5px; /* Adjust the gap between grid items if needed */
}

.categories-grid-item {
  display: flex;
  align-items: center;
}


form {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(242,242,242,1);
  /* background-color: rgb(200,200,200); */
  /*padding-top: 10px;*/
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(69, 155, 213, 0.75);
  padding: 5px 5px 1px 5px;
  
}

.mainForm {
  border: 2px ridge rgba(69, 155, 213, 1);
  background-color: rgba(242,242,242,0.6);
}

@media (min-width: 768px) {
  /* Target devices with a screen width of 768px or more (desktops) */
  form {
    width: 50%;
  margin: 10px auto;
  }
}

.form-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.allSelected {
  color: rgba(242,242,242,0.8);
}

.form-label {
  /*display: block;*/
  /*margin: 5px 0px 5px 0px;*/
  /*color:#459bd5;*/
  cursor: pointer;
  /*color: #2a5979 !important;*/
  color: #8bcefa !important;
  font-weight: bolder;
  /*background-color: rgba(69, 155, 213, 0.25);*/
  background-image: url('https://pd2builder.netlify.app/img/bg.png');
  /*background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  margin-bottom: 5px !important;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.2rem;
}

.form-check {
text-align: left;
}

.checkUncheckAllButton {
  color:#459bd5 !important;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  padding: 5px 0px !important;
  border: none !important;
  font-weight: bold !important;
}
.checkUncheckAllButton:hover {
  color: #459bd5 !important;
  background-color: transparent !important;
}


fieldset legend {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size:medium;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(69, 155, 213, 0.5);
  }

button {
  /* font-family: 'Figtree', sans-serif; */
  font-family: "RiftDemi" !important;
  font-weight: 600 !important;
  font-size: 1.1rem !important;
  background-color: #459bd5;
  color: white;
  padding: 5px 10px !important;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 0px !important;
  width: fit-content !important;
  border: 1px solid #459bd5;
  line-height: 1px;
}

button:hover {
  background-color: #2a5979;
}

.randomizeButton {
  font-family: "RiftBold" !important;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  /* border: 2px ridge #459bd5 !important; */
  color: white !important;
  border-radius: 0px !important;
  background-color: #007aff;
  padding: 0px 12px !important;
  /* width: 80% !important; */
  min-width: fit-content !important;
  width: 170px !important;
  margin: 15px 0px !important;
  /* background: linear-gradient(45deg, #459bd5 0%, #459bd5 30%, #2a5979 30%, #2a5979 70%, #459bd5 70%, #459bd5 100%);
  background-size: 400% 400%;
  animation: gradient-shiny 6s ease infinite; */
/**/
  grid-column: 1 / 2; /* First column */
  grid-row: 1 / 3; /* Spans two rows */
  justify-self: left; /* Align to the left */
}

.randomizeButton.threeRows {
  grid-row: 1 / span 3; /* Spans two rows */
}
/* @keyframes gradient-shiny {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */
.randomizeButton:hover {
  /* background: linear-gradient(45deg, #2a5979 0%, #2a5979 30%, #459bd5 30%, #459bd5 70%, #2a5979 70%, #2a5979 100%);
background-size: 400% 400%;
animation: gradient-shiny 6s ease infinite; */
background-color: #0092ff !important;
}

.buttonGoToTop-container {
padding: 0 0 25px 0;
}

.buttonGoToTop {
  width:fit-content !important;
  background-color: white !important;
  border: 1px solid #459bd5 !important;
  margin: 0 auto !important;
  display: block !important;
  color: #2a5979 !important;
}

.buttonGoToTop:hover {
  background-color: transparent;
  color:#459bd5;
}

 #result {
  margin: 0 auto;
  padding-top: 0px !important;
  padding: 10px;
  max-width: 80vh;
  border-radius: 10px;
}

#resultHeist {
  margin: 0 auto;
  padding-top: 0px !important;
  padding: 10px;
  max-width: 80vh;
  border-radius: 10px;
}

#pointsResult {
  margin: 0 auto;
  padding-top: 0px !important;
  padding: 10px;
  max-width: 80vh;
  border-radius: 10px;
}

.randomBuildTable {
  margin-top: 5px !important;
  border-collapse: collapse;
  border-radius: 5px !important;
  vertical-align: middle !important;
}

.randomBuildTable td:nth-child(2) {
  
  border-style: none ridge none none;
  border-color: #2a5979;
  border-left: 2px solid #2a5979;
}

.randomBuildTable td:first-child {
  font-weight: bold;
  border-style: none ridge none none;
  
}
.randomBuildTable {
  margin: 0 auto;
  padding-top: 0px !important;
  padding: 10px;
  max-width: 80vh;
  border-radius: 10px;
  border-collapse: collapse;
  
  background-color: #8bcefa !important;
}
.randomBuildTable td {
  padding: 8px;
  text-align: left;  
}
.randomBuildTable tr:nth-child(even) {
  background-color: white;
}
.randomBuildTable th:nth-child(1),
.randomBuildTable td:nth-child(1) {
  width: 37%;
}
.randomBuildTable th:nth-child(2),
.randomBuildTable td:nth-child(2) {
  width: 63%;
}

.heist-table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}
.heist-table td {
  padding: 8px;
  text-align: left;  
}
.heist-table th:nth-child(1),
.heist-table td:nth-child(1) {
  width: 10%;
}
.heist-table th:nth-child(2),
.heist-table td:nth-child(2) {
  text-align: center;
  width: 90%;
}


.result-table {
  border-collapse: collapse;
  border-radius: 15px;
  width: 100%;
  background-color: #8bcefa;
  table-layout: fixed;
}
.result-table td {
  padding: 8px;
  text-align: left;  
}
.result-table tr:nth-child(even) {
  background-color: white;
}
.result-table th:nth-child(1),
.result-table td:nth-child(1) {
  width: 50%;
}
.result-table th:nth-child(2),
.result-table td:nth-child(2) {
  text-align: center;
  width: 50%;
}

.buttons {
    /* display: flex;
    justify-content: space-between;
    padding: 5px 0px; */
    display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-template-rows: repeat(2, auto); /* Two rows */
  gap: 5px; /* Adjust the gap between grid items as needed */

}

.buttons.expand-uncheck {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.buttonsSkills {
  display: flex;
  justify-content: left;
}

.eyeSlashButton{
  display: flex;
  align-items: center !important;
  color: #459bd5 !important;
  background-color: whitesmoke !important;
  border: 2px ridge #459bd5 !important;
  /*border: 1px solid #459bd5 !important;*/
  padding: 5px 10px !important;
  line-height: 15px !important;
  font-size: 1.2rem !important;
  /**/
  grid-column: 2 / 3; /* Second column */
  justify-self: end; /* Align to the right */

}

.eyeSlashButton:nth-of-type(2) {
  grid-row: 2 / 3; /* Second button in the second row */
}

.eyeSlashButton.reset {
  color: #d24646 !important;
  border: 2px ridge #d24646 !important;
  padding: 5px !important;
}

.eyeSlashButton.display {
  color: #edda26 !important;
  border: 2px ridge #edda26 !important;
  padding: 5px !important;
  background-color: transparent !important;
}

  
.form-check {
  padding-top: 5px;
  padding-bottom: 5px;
}

.buttons .expandAllCategoriesButton {
  font-size: .95rem !important;
  color: #459bd5;
  background-color: white;
  border: 1px solid #459bd5;
}

.buttons .expandAllCategoriesButton:active {
  color: white;
  background-color: #459bd5 !important;
  border: 1px solid #459bd5 !important;
}

.buttons .expandAllCategoriesButton:hover {
  color: white;
  background-color: #459bd5;
  border: 1px solid #459bd5;
}

.buttons .checkUncheckAllCategoriesButton {
  font-size: .95rem !important;
  color: #459bd5;
  background-color: white;
  border: 1px solid #459bd5;
}
.buttons .checkUncheckAllCategoriesButton:active {
  color: white;
  background-color: #459bd5 !important;
  border: 1px solid #459bd5 !important;
}

.buttons .checkUncheckAllCategoriesButton:hover {
  color: white;
  background-color: #459bd5;
  border: 1px solid #459bd5;
}

@media (max-width: 767px) { /* smaller than 768, mobile device screen */
  .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
}

.fieldsetsContainer {
width:100vh !important;
}
@media (min-width: 768px) {
  /* Target devices with a screen width of 768px or more (desktops) */
  .fieldsetsContainer {
    display: flex !important;
    flex-wrap: wrap !important;
  }
}


.fieldsetOptions {
  text-align: left !important;
  
}

.randomBuildContainer {
  margin: 15px 15px auto;
  padding: 5px;
  border: 1px ridge #459bd5;
  box-shadow: 2px 2px 2px #459bd5;
  border-radius: 10px;

}

.randomBuildContainer-title {
  font-family: 'RiftBold';
  font-size: 1.2rem;
  color: #459bd5;
  margin-bottom: 5px;
  letter-spacing: 2px;
  border-bottom: 1px solid #459bd5;
}

.randomBuildTable {
  margin-bottom: 0px !important;
  margin: 10px auto;
  width: 90%;
}

@media (min-width: 768px) {
  /* Target devices with a screen width of 768px or more (desktops) */
  .randomBuildContainer {
    width: 750px;
    margin: 15px auto !important;
  }
  .randomBuildTable {
    width: 90%;
  }
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh - 45px);
  background-image: url('https://pd2builder.netlify.app/img/bg.png');
}

.icons-container {
  display: grid
}

.home-menu-table {
  height: 50vh;
}

.home-menu-table td {
  border: 2px solid white
}

.home-menu-table td:first-child {
  text-align: center;
  
  }

.home-menu-table td:nth-child(2){
  text-align: left;
  font-size: 2rem;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: end;
}
/* .navigation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 45px);
  background-image: url('https://pd2builder.netlify.app/img/bg.png');
  z-index: -1;
} */

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #459bd5;
  max-height: fit-content;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
.icon {
  flex-basis: 25%; /* Set the width to 25% to display 4 icons per row */
}
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 40% 0% 40% 0%;
  /*background-color: rgba(255,255,255,0.9);*/
  /*background-image: linear-gradient(to bottom right,
  rgba(255,255,255,1) 70%,#459bd5 100%);*/
  box-shadow: 5px 5px 20px #459bd5;
  border: solid 1px #459bd5;
}

.icon-wrapper .icon > svg {
  width: 32px;
  height: 32px;
}

.label {
  color: #459bd5;
  margin-top: 0px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bolder;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Set the white-space property to normal */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px; /* Set a fixed height for the label container */
}

.loginButtons {
  
}

.dropdownMenu {
  font-family: "RiftBold", sans-serif;
  background-color: #459bd5 !important;
  letter-spacing: 2px;
  border-radius: 40px 0px 40px 0px !important;
  text-align: end !important;
  min-width: fit-content !important;
  padding: 15px !important;
  transform:translate(-15px, 10px) !important;
}

.dropdownItem {
  color: white !important;
  /*width: fit-content !important;*/
  margin: 0 auto !important;
  padding: 0 !important;
}

/*INICIO CSS LOGIN FORM*/
.login-box {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 75%;
  
  transform: translate(-50%, -50%);
  background: rgba(171,171,171,.1);
  box-sizing: border-box;
  box-shadow: 5px 5px 20px #459bd5;
  border-radius: 10px;
}

.login-box .form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box .form .button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #459bd5;
  font-family: 'Figtree', sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 2px;
  box-shadow: none;
  background-color: transparent;
}

.login-box .button span {
  position: absolute;
  display: block;
}

.login-box .button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #459bd5);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box .button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #459bd5);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box .button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #459bd5);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box .button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #459bd5);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
/*FINAL CSS LOGIN FORM*/


.loginIcon2 {
  width: 32px;
  height: 32px;
  color: #459bd5;
}
/*INICIO CSS LOGIN FORM LOGIN ICON*/
.login-box2 {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
}

.login-box2 .form2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.login-box2 .form2 .button2 {
  position: relative;
  display: inline-block;
  padding: 0px !important;
  color: #459bd5;
  font-family: 'Figtree', sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 2px;
  box-shadow: none;
  background-color: transparent;
  border-radius: 50%;
}

.login-box2 .button2 .span2 {
  position: absolute;
  display: block;
}

.login-box2 .button2 .span2:nth-child(2) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 200%;
  background: linear-gradient(270deg, transparent, #459bd5);
  animation: btn-anim3 1s linear infinite;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}


/*FINAL CSS LOGIN FORM*/


/* INICIO BUILD SELECTOR */

.buttonContainer {
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  /* align-items: center !important;
  vertical-align: middle !important; */
  padding: 5px !important;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around !important;
  
}

.mainButtons {
margin: 5px !important;
display: flex !important;
align-items: center !important;
}

.category-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.category-section{
  border-collapse: collapse;
    table-layout: fixed;
    margin: 10px;
    border: solid grey 1px;
    border-radius: 10px;
}

.category-label {
 padding: 3px;
}

.category-name {
    color: #131313;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-bottom: solid grey 1px;
    background-color: #A6CFEB;
    border-radius: 10px 10px 0px 0px;
    min-width: 350px;
}


.category-checkbox-container {
  /* display: flex !important; */
  flex-wrap: wrap !important;
  justify-content: space-evenly !important;
  padding: 5px;
}

.hidden {
  display: none;
}

.filteredProfiles {
  margin: 0 auto;
  background-color: white;
}

.filteredProfiles table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 10px;
}

.filteredProfiles th,
.filteredProfiles td {
  border: 1px solid #ddd;
  padding: 8px;
  max-width: fit-content !important;
}

.filteredProfiles th {
  background-color: #4ea0d7;
}


.filteredProfiles td:first-child,
.filteredProfiles th:first-child {
position: sticky;
left: -1px;
color: white;
background-image:url('./imagenes/bg.png');
z-index: 1;
}

.filteredProfiles tr:first-child {
position: sticky;
top: 0;
z-index: 1;
}

.filtered-profiles-table-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  overflow-x: auto;
}


.exportButton {
  height: 40px !important;
}

.tree {
  margin: 5px 0px;
  padding: 5px;
  /* border: solid #316385 2px; */
  border-radius: 10px;
  font-weight: bold !important;
  /* background-color: black; */
}

.tree .form-control {
  margin: 5px 0px;
  padding: 5px;
  /* border: solid #316385 2px; */
  border-radius: 10px;
  font-weight: bold !important;
  /* background-color: red; */
  
}

.selectProfile .form-control {
  background-color: rgba(78, 160, 215, 0.5) !important;
}

.primarySecondayWeapon {
  margin: 5px 0px;
  padding: 5px;
  border: solid #316385 2px;
  border-radius: 15px;
}

.subtree {
  margin: 5px 0px;
  padding: 5px;
  border-top: solid #316385 1px;
  border-bottom: solid #316385 1px;
  border-radius: 15px;
  background-image: url('./imagenes/bg.png') !important;
}

.categoryName {
  color: whitesmoke;
  font-weight: bold;
  margin: 0;
  text-align: center;
  padding: 5px;
  /* background-color: rgba(3, 6, 32, 0.26); */
  background-image: url('./imagenes/bg.png') !important;
  border-radius: 10px;
}

.treeName {
    color: #131313;
    font-weight: bold;
    margin: 0;
    text-align: center;
    padding: 5px;
    /* width:fit-content; */
    margin: 0 auto;
    /* background-color: #459bd5; */
    background-color: white;
    border-radius: 10px;
}

.skillTreeName {
margin: 0 auto !important;
color: whitesmoke !important;
}

.subtreeName {
  font-family: "DINEngschrift", "Noto Sans", sans-serif;
  font-weight: bold;
  color: #285a82;
  border-top: solid #afb3b6 2px;
  padding-top: 5px;
  margin: 0 auto !important;
}

.totalSkillPointsDIV {
  display: flex;
  justify-content: flex-end;
}

.totalSkillPoints {
  position: fixed;
  text-align: center;
  background-color: white;
  opacity: 75%;
  z-index: 1000;
  font-weight: bold;
  padding: 5px;
  border-radius: 15px;
  color: #316385;
  border: solid 1px #316385;
}

.skillCol  {
  align-items: center !important;
  vertical-align: middle !important;
  padding: 5px !important;
}

/* .skillButton {
  width: 100px !important;
} */

.basicButton {
  /* height: 80px !important;
  width: 80px !important; */
  border: none !important;
  background-color: rgba(255,255,255,0) !important;
}

.aceButton {
  /* height: 80px !important;
  width: 80px !important; */
  background-color: rgba(255,255,255,0) !important;
  background-image: url('./imagenes/ace.png') !important;
  background-size: 100% !important;
  border: none !important;

}

.unselectedButton {
  /* height: 80px !important;
  width: 80px !important; */
  background-color: rgba(255,255,255,0) !important;
  border: none !important;
}


/* FINAL BUILD SELECTOR*/


/* Inicio ProfileConstructor */
.profile-constructor {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.profileNumber-title {

  text-align: end;
}
.profile {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 8px;
}

h4 {
  margin-bottom: 6px;
}

.category {
  margin-bottom: 15px;
}

.item-label {
  display: block;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}
/* FIN ProfileConstructor */


.home-background {
  background-image: url('https://pd2builder.netlify.app/img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: calc(100vh - 45px);
  /* padding-top: 20px;  */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.home-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: flex-start;
  align-items: start;
  padding: 20px;
  gap: 50px;
}

.home-link {
  text-decoration: none;
  text-align: center;
  transition: transform 0.3s;
}

.home-link:hover,
.home-link:active {
  transform: scale(1.1);
}

.home-icon {
  font-size: 50px;
  margin-bottom: 10px;
  color: #459bd5;
}

.home-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #459bd5;
  font-family: 'RiftBold';
  margin-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 5px;
  padding: 5px;
  margin: 5px 0px;
  /* background-color: rgba(242,242,242,0.8); */
  background-color: none;
  /* border: 1px solid #dee2e6; */
  border-radius: 5px;
  max-width: 100%; /* Prevents overflowing */
  box-sizing: border-box;
  /* background-image: url('https://pd2builder.netlify.app/img/bg.png'); */
  /* background-image: url('../src/imagenes/inventory_background.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px; */
  /* background-image: url('https://pd2builder.netlify.app/img/bg.png'); */
  /* border: 1px solid #dee2e6; */
  /* border-radius: 5px; */
  /* border-top: 3px inset white; */
  font-size: 1rem;
  font-weight: bold;
  color: #333333;
  position: relative;
  width: 100%;
  padding-top: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}

.borderedRandomizer {
  /* background: linear-gradient(to right, rgb(215, 220, 225) 3px, transparent 3px) 0 0, linear-gradient(to right, rgb(215, 220, 225) 3px, transparent 3px) 0 100%, linear-gradient(to left, rgb(215, 220, 225) 3px, transparent 3px) 100% 0, linear-gradient(to left, rgb(215, 220, 225) 3px, transparent 3px) 100% 100%, linear-gradient(to bottom, rgb(215, 220, 225) 3px, transparent 3px) 0 0, linear-gradient(to bottom, rgb(215, 220, 225) 3px, transparent 3px) 100% 0, linear-gradient(to top, rgb(215, 220, 225) 3px, transparent 3px) 0 100%, linear-gradient(to top, rgb(215, 220, 225) 3px, transparent 3px) 100% 100%, rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: 15px 15px; */
  background:
  /* linear-gradient(to right, rgb(215, 220, 225), rgb(215, 220, 225)) left top / 100% 3px no-repeat,
  linear-gradient(to right, rgb(215, 220, 225), rgb(215, 220, 225)) left bottom / 100% 3px no-repeat,
  linear-gradient(to bottom, rgb(215, 220, 225), rgb(215, 220, 225)) left top / 3px 100% no-repeat,
  linear-gradient(to bottom, rgb(215, 220, 225), rgb(215, 220, 225)) right top / 3px 100% no-repeat, */
  linear-gradient(
    to right, 
    rgba(215, 220, 225, 1) 0%, 
    rgba(215, 220, 225, 0.2) 10%, 
    rgba(215, 220, 225, 0.7) 21%, 
    rgba(215, 220, 225, 1) 40%, 
    rgba(215, 220, 225, 0.5) 50%, 
    rgba(215, 220, 225, 1) 60%, 
    rgba(215, 220, 225, 0.7) 70%, 
    rgba(215, 220, 225, 1) 80%, 
    rgba(215, 220, 225, 0.2) 90%, 
    rgba(215, 220, 225, 1) 100%
  ) left top / 100% 3px no-repeat,
  linear-gradient(
    to right, 
    rgba(215, 220, 225, 1) 0%, 
    rgba(215, 220, 225, 0.2) 10%, 
    rgba(215, 220, 225, 0.7) 21%, 
    rgba(215, 220, 225, 1) 40%, 
    /* rgba(215, 220, 225, 0.2) 50%,  */
    rgba(215, 220, 225, 1) 60%, 
    rgba(215, 220, 225, 0.7) 70%, 
    /* rgba(215, 220, 225, 1) 80%,  */
    rgba(215, 220, 225, 0.2) 90%, 
    rgba(215, 220, 225, 1) 100%
  ) left bottom / 100% 3px no-repeat,
  linear-gradient(
    to bottom, 
    rgba(215, 220, 225, 1) 0%, 
    rgba(215, 220, 225, 0.2) 10%, 
    rgba(215, 220, 225, 0.7) 21%, 
    rgba(215, 220, 225, 1) 40%, 
    rgba(215, 220, 225, 0.5) 50%,
    rgba(215, 220, 225, 1) 60%, 
    rgba(215, 220, 225, 0.7) 70%, 
    rgba(215, 220, 225, 1) 80%, 
    rgba(215, 220, 225, 0.2) 90%, 
    rgba(215, 220, 225, 1) 100%
  ) left top / 3px 100% no-repeat,
  linear-gradient(
    to bottom, 
    rgba(215, 220, 225, 1) 0%, 
    rgba(215, 220, 225, 0.2) 10%, 
    rgba(215, 220, 225, 0.7) 21%, 
    rgba(215, 220, 225, 1) 40%, 
    rgba(215, 220, 225, 0.2) 75%, 
    /* rgba(215, 220, 225, 1) 60%,  */
    /* rgba(215, 220, 225, 0.7) 70%,  */
    /* rgba(215, 220, 225, 1) 80%, 
    rgba(215, 220, 225, 0.2) 90%,  */
    rgba(215, 220, 225, 1) 100%
  ) right top / 3px 100% no-repeat,
  rgba(0, 0, 0, 0.5);

}

.grid-title {
  position: absolute;
  top: 0px;
  padding-left: 7px;
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  /* background-color: #ffffff;
  border-bottom: 1px solid #dee2e6; */
  color: rgb(40, 90, 130);
  font-family: 'RiftMedium';
  font-weight: 600;
  /* letter-spacing: 2px; */
}

.grid-title.selectedItem {
  font-family: 'DINEngschrift';
  font-weight: 400;
  font-size: 1.3rem;
  padding-top: 0px;
  padding-left: 7px;
  padding-right: 7px;
  color: rgb(200, 200, 200);
}

.grid-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  max-width: 100%;
  max-height: 50%;
}

.grid-image.selected{
  transform: translate(-50%, -50%) scale(1);
}

.grid-image.armor {
  transform: translate(-50%, -50%) scale(1.1);
}

.grid-image.armor.selected {
  transform: translate(-50%, -50%) scale(1.2);
}

.grid-image.perkDeck {
  transform: translate(-50%, -50%) scale(1.4);
}

.grid-image.perkDeck.selected {
  transform: translate(-50%, -50%) scale(1.5);
}

.grid-name {
  font-weight: 500;
  color: rgb(200,200,200);
  /* position: absolute; */
  /* bottom: 5px; */
  padding: 0 2px;
  min-height: 50px;
}

 /* Single column layout on small screens */
@media (max-width: 399px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}



/* Two column layout on medium screens */
@media (min-width: 400px) and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

.difficulty-title {
  font-family: 'RiftBold';
  font-size: 1.5rem;
  color: #edda26;
  text-align: center;
  margin-top: 5px;
  border-top: 1px solid #459bd5;
}

.difficulty-images {
  display: flex;
  gap: 10px; /* Adjust the gap between images if needed */
  justify-content: center;
}

.difficulty-image {
  width: 50px;
  height: 50px;
}

.heist-title {
  font-family: 'RiftBold';
  font-size: 1.5rem;
  color: whitesmoke;
  text-align: center;
  margin-top: 5px;
  border-top: 1px solid #459bd5;
}

.heist-image {
  width: 100%;
  border-radius: 10px;
}

.heist-subtitle {
  font-family: 'RiftDemi';
  font-size: 1.1rem;
  color: whitesmoke;
  text-align: center;
  margin-top: 5px;
}


.profile-grid-container {
  font-family: 'RiftMedium';
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  grid-template-columns: 1fr;
  gap: 5px;
  margin-top: 5px;
  /* padding: 20px; */
  /* background-color: #f9f9f9; */
  /* border-radius: 10px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  border-top: 1px solid #459bd5;
}

.profile-grid-item {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-grid-item.number {
  background-color: #459bd5;
}

.profile-grid-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.profile-grid-title {
  font-size: 0.9rem;
  font-weight: 600;
  /* margin-bottom: 10px; */
  color: #333;
}

.profile-grid-title.number {
  font-size: 1rem;
  color: white;
  letter-spacing: 2.5px;
}

.profile-grid-name {
  font-size: 1rem;
  color: #555;
  text-align: center;
  word-wrap: break-word;
}


/* BIG OIL CALCULATOR */
.bigOil-container {
    margin: 0 auto;
    font-size: 1rem;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.bigOilHydrogenElement-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.bigOilPressure-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bigOilPressure-container > div,
.bigOilHydrogenElement-container > div  {
  padding: 5px;
  color: rgb(140, 140, 140);
  cursor: pointer;
  border-radius: 10px;
  display: flex; /* Enables flexbox for this element */
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content */
}

.engine-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
}

.engine-column {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.bordered {
  background: linear-gradient(to right, rgb(215, 220, 225) 3px, transparent 3px) 0 0, linear-gradient(to right, rgb(215, 220, 225) 3px, transparent 3px) 0 100%, linear-gradient(to left, rgb(215, 220, 225) 3px, transparent 3px) 100% 0, linear-gradient(to left, rgb(215, 220, 225) 3px, transparent 3px) 100% 100%, linear-gradient(to bottom, rgb(215, 220, 225) 3px, transparent 3px) 0 0, linear-gradient(to bottom, rgb(215, 220, 225) 3px, transparent 3px) 100% 0, linear-gradient(to top, rgb(215, 220, 225) 3px, transparent 3px) 0 100%, linear-gradient(to top, rgb(215, 220, 225) 3px, transparent 3px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.engine {
  padding: 10px;
  border: 2px solid rgba(204, 204, 204, 0.5);
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.engine-separator {
  font-family: 'RiftBold';
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 1;
  padding: 10px;
  color: rgb(240,240,240);
}

.engine.selectedEngine {
  /* background-color: #459bd5; */
  /* color: black; */
  border: 2px ridge white;
  font-weight: 700;
  color: #2a5979;
  background-color: whitesmoke;
  border: 2px ridge #459bd5;
  border-radius: 10px;
}

.engine.allUnselected {
  background-color: transparent;
  color: #212529;
  border: 2px solid rgba(204, 204, 204, 0.5);
}


.bigOilPressure-container > div {
  border: 3px solid rgb(0, 85, 5);
}

.selected.pressure {
  border: 3px solid rgb(0, 190, 10);
  background-color: rgb(0, 190, 10, 0.1);
}

.bigOilHydrogenElement-container > div {
  border: 3px solid rgb(140, 140, 140);
}

#nitrogen.selected {
  border-color: rgb(200, 170, 35);
  background-color: rgba(200, 170, 35, 0.1);
}

#deuterium.selected {
  border-color: rgb(30, 125, 185);
  background-color: rgba(30, 125, 185, 0.1);
}

#helium.selected {
  border-color: rgb(75, 190, 95);
  background-color: rgba(75, 190, 95, 0.1);
}

.selected.hydrogen {
  border: 3px solid rgb(240, 240, 240);
  background-color: rgba(240, 240, 240, 0.1);
}

.selected.null {
  border: 3px solid rgb(240, 240, 240);
  background-color: rgba(240, 240, 240, 0.1);
}

#nitrogen {
  border: 3px solid rgb(105, 80, 0);
}

#deuterium {
  border: 3px solid rgb(0, 60, 110);
}

#helium {
  border: 3px solid rgb(80, 100, 80);
}

.selected {
  color: rgb(240, 240, 240) !important;
}

#room_stairs {
  flex-flow: column nowrap;
  flex-basis: 20%;
  align-self: stretch;
  background: repeating-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 5px, transparent 5px, transparent 20px);
}



